@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* milfont-fay: 'Librebaskerville'; */
}
.navbar-wrapper {
  width: 100%;
  height: 75px;
  padding: 8.6px 0 8.6px 0;
  position: relative;
  z-index: 1;
}
.brand {
  margin-left: 10.176vw;
  float: left;
}
.brand img {
  width: 60px;
  height: 60px;
  float: left;
}
.brand h2 {
  color: #374b5c;
  font-size: 42px;
  float: left;
  margin-left: 9.5px;
  line-height: 50px;
}
.link-wrapper {
  float: right;
  margin: 0 5.18vw;
}
.link-wrapper li {
  float: left;
  text-decoration: none;
  list-style-type: none;
  line-height: 60px;
  color: #374b5c;
  height: 21px;
  margin-right: 3.587vw;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.link-wrapper li.link-item::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  background-color: #00dbd0;
  left: 0;
  bottom: 0;
  margin-bottom: -26px;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.6s transform;
}
.link-wrapper li.link-item:hover:before {
  transform-origin: left;
  transform: scaleX(1);
  transition: 0.6s transform;
}
.link-wrapper li button {
  width: 141px;
  height: 46px;
  color: #374b5c;
  padding: 12px 48px 13px 38px;
  border-radius: 10px;
  border: 2px solid #00dbd0;
  background-color: transparent;
  transition: 0.5s all;
  cursor: pointer;
}
.link-wrapper li button:hover {
  color: white;
  background-color: #00dbd0;
}
.navbar-wrapper input[type="checkbox"] {
  visibility: hidden;
}
.navbar-wrapper #toggle,
.navbar-wrapper #close {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 46px;
  line-height: 75px;
  cursor: pointer;
}

@media (max-width: 1060px) {
  .brand {
    margin-left: 7.176vw;
  }
  .link-wrapper {
    margin: 0 4.565vw;
  }
}
@media (max-width: 912px) {
  .link-wrapper {
    display: block;
    width: 50%;
    height: 100vh;
    margin: 0;
    transform: translateX(-100%);
    position: absolute;
    top: 75px;
    transition: 0.5s all;
  }
  .link-wrapper li.link-item::before {
      width: 0%;
  }
  .link-wrapper li {
    color: white;
  }
  .link-wrapper li button {
    color: white;
  }
  .link-wrapper li button:hover {
    color: black;
    font-weight: bold;
  }
  .link-wrapper li {
    float: none;
    text-align: center;
    padding: 30px;
  }
  .navbar-wrapper #toggle,
  .navbar-wrapper #close {
    margin: 0 5.565vw;
  }
  .navbar-wrapper #toggle {
    display: block;
  }
  .navbar-wrapper #check:checked ~ .link-wrapper {
    transform: translateX(0%);
    min-height: 70vh;
    background-color: black;
    color: white;
    opacity: 1;
  }
  .navbar-wrapper #check:checked ~ label #toggle {
    display: none;
  }
  .navbar-wrapper #check:checked ~ label #close {
    display: block;
  }
}
